* {
    margin: 0;
    padding: 0;
    font-family: 'Petrona', serif;
    
}

header {
    background-color: rgb(1, 163, 251);
    height: 60px;
    color: rgb(185, 191, 7);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    visibility: hidden;
}

header:hover img {
    visibility: visible;
    transition: 0.6s;
    transform: translateX(16vw);
}

header h1 {
    font-size: 25px;
    font-weight: 200;
    user-select: none;
    font-family: 'Petrona', serif;
    color: black;
}

header button {
    padding: 9px 25px;
    font-size: 16px;
    background-color:  rgb(249, 10, 197);
    color:rgb(0, 0, 0) ;
    outline: none;
    border: none;
    cursor: pointer;
}

header button:hover {
    color: rgb(255, 0, 0);
    background-color: black;
}

.cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 90px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 10px;
    margin: 20px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 184, 251);
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.card:hover {
    background-color:rgb(76, 176, 219);
    color:rgb(15, 14, 14);
    
}



.card .card-content {
    text-align: center;
}

.card .card-content h3 {
    font-weight: 900;
    font-size: 25px;
}

.card .card-content h2 {
    font-size: 20px;
    font-weight: 100;
}